.base {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    top: 100px;
    text-align: center;
    padding-bottom: 160px;
}

.wrapper {
    flex-direction: row;
    justify-content: center;
}

.projects {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
    height: calc(100% - 300px);
    overflow-x: auto;
    color: var(--textcolor);

    
}